= form_for [:admin, CatalogueBrandLinkTypeCategory.new], remote: true do |f|
  .row
    .col-md-9
      = f.select :type_category_id, TypeCategory.has_not_this_catalogue_brand_link(brand.id), {}, class: 'select2'
    .col-md-3
      = f.hidden_field :catalogue_brand_link_id, value: brand.id
      = f.submit t(:add), class: 'btn btn-primary'
%br