= form_for [:admin, TypeCategoryLowCategory.new], remote: true do |f|
  .row
    .col-md-9
      = f.select :type_category_id, TypeCategory.has_not_this_low_category(low_category.id), {}, class: 'select2'
    .col-md-3
      = f.hidden_field :low_category_id, value: low_category.id
      = f.submit t(:add), class: 'btn btn-primary'
%br