= form_for [:admin, TypeCategoryCatalogueBrandLink.new], remote: true do |f|
  .row
    .col-md-9
      = f.select :catalogue_brand_link_id, CatalogueBrandLink.in_current_tenant.has_not_this_type_category(type_category.id), {}, class: 'select2'
    .col-md-3
      = f.hidden_field :type_category_id, value: type_category.id
      = f.submit t(:add), class: 'btn btn-primary'
%br