%tr{id: "type_category_catalogue_brand_link_#{type_category_catalogue_brand_link.id}"}
  %td= link_to type_category_catalogue_brand_link.catalogue_brand_link.title, edit_admin_brand_path(type_category_catalogue_brand_link.catalogue_brand_link)
  %td.actions_td= remote_delete_link(type_category_catalogue_brand_link)