.row.page_header
  = link_to t(:back), [:admin, :type_categories], class: 'btn-flat default'
  %h2.col-md-10= action_accusative("type_categories", "add")

.row.form-wrapper
  .col-md-12= render 'form'